/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
 }

 html{
     scroll-behavior: smooth;
 }
 /* Navigation bar */
 #navbar{
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
}

 /* Navigation bar: Logo and Image */
#logo{
    margin-right: 861px;
    margin-left: 40px;
}
#logo img{
    margin: 5px 5px;
padding: 6px;
height: 65px;
width: 75px;
}

/* Navigation bar: List styling */
#navbar ul{
    display: flex;
    font-family: 'Rubik', sans-serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;  
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px;
    margin-right: 25px;
    background-color: rgb(54, 54, 54);
}
#navbar ul li a:hover{
    color: white;
    background-color: green;
}

/* Home section */

.home-content{
    display: flex;
    flex-direction: column;
    height: 730px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    animation-name: home-animation;
    animation-duration: 3s;
}
@keyframes home-animation{
    0%{
        top: -100px;
        opacity: 0;
    }
}
#home::before{
    content: "";
    position: absolute;
    background: url("../img/bg1.jpg") no-repeat center center/cover;
    height: 105%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
    animation-name: img;
    animation-duration: 3s;
}
@keyframes img{
    0%{
        height: 200px;
        opacity: 1;
    }
}
#home h1{
    color: rgb(19, 17, 16);
    text-align: center;
    font-size: 120px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
/* Services Section */
#services{
    margin: 23px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 34px;
    border-radius: 23px;
    background-color: ivory;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Montserrat', sans-serif;
}
#services-container{
    background-color: rgb(186, 245, 163);
    height: 530px;
}
#client-section{
    height: 344px;
    position: relative  ;
    margin-bottom: 25px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 106%;
    z-index: -1;
    opacity: 0.9;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    display: flex;
    padding: 34px;
    margin: 20px;
}
.client-item img{
    display: flex;
    justify-content: center;
    height: 91px;
}
#fb{
    padding: 20px;
    position: relative;
    left: 150px;
}
#jbl{
    padding: 20px;
    position: relative;
    left: 330px;
}
#apple{
    padding: 20px;
    position: relative;
    left: 510px;
}
#intex{
    padding: 20px;
    position: relative;
    left: 690px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: url("../img/contactus.jpg") no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility classes */
.h-primary {
    position: relative;
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}
#services-container h1{
    animation-name: services;
    animation-duration: 2s;
    animation-delay: 1s;
}
#client-section h1{
    animation-name: services;
    animation-duration: 2s;
    animation-delay: 1.5s;
}
#contact h1{
    animation-name: services;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes services{
    50%{
        font-size: 4.2rem;
    }
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid greenyellow;
    background-color: black;
    color: white;
    margin: 17px 17px;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 265px;
}
.btn:hover{
    background-color: rgb(39, 170, 39);
}
.center{
    text-align: center;
}
#contact form{
    display: flex;
    flex-direction: column;
}
.btn2{
    padding: 6px 20px;
    border: 2px solid greenyellow;
    background-color: black;
    color: white;
    margin: 17px 17px;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 265px;
    position: relative;
    left: 180px;
}
.btn2:hover{
    background-color: rgb(39, 170, 39);
}
